@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&display=swap');
body {
    
    font-family: "Big Shoulders Stencil", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    background-image: url(/fondo.jpeg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    

   
}
.container {
    background: rgba(255, 255, 255, 0.3); /* Color blanco con transparencia */
    backdrop-filter: blur(10px); /* Efecto difuminado */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
input {
    width: 60px;
    padding: 5px;
    margin: 10px 0;
}
button {
    background: lightblue;
    color: black;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background: #218838;
}
#resultado {
    margin-top: 15px;
    font-weight: bold;
}
